@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #8b6b43;
  --foreground: #f0e6d9;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f0e6d9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6b4e2c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #402e1e;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
