@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #8b6b43;
  --foreground: #f0e6d9;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
