@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #8b6b43;
  --foreground: #f0e6d9;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f0e6d9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6b4e2c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #402e1e;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .default-btn {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.16, rgb(207, 207, 207)),
      color-stop(0.79, rgb(252, 252, 252))
    );
    background-image: -moz-linear-gradient(center bottom, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%);
    background-image: linear-gradient(to top, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%);
    padding: 3px;
    border: 1px solid #000;
    color: black;
    text-decoration: none;
  }
}
